.admin-home {
  box-sizing: border-box;
  color: $black;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 10px 10px 10px 10px;
  width: 100vw;
}
.Button {
  margin-right: 40px;
  margin-bottom: 30px;
}

.admin-products {
  box-sizing: border-box;
  color: $black;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 10px 10px 10px 40px;
  width: 80vw;
}

.admin-table {
  box-sizing: border-box;
  color: $black;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 10px 10px 10px 40px;
}
