.order-details {
  box-sizing: border-box;
  color: $black;
  display: flex;
  flex-wrap: wrap;
  height: 10%;
  padding: 90px 20px 20px 320px;
  width: 100vw;

  &-body {
    margin-top: 4px;
    display: flex;
    width: 100%;
  }

  &-head {
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(151, 151, 151, 0.5);
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
    //padding: 10px 0;

    &-title {
      padding: 0 15px;
      border-left: 1px solid rgba(151, 151, 151, 0.5);
      display: flex;
      align-items: center;
    }

    &-payout {
      margin: 10px;
      position: static;
      height: fit-content;
      height: 150px;
      width: 150px;
    }

    h1 {
      margin: 0;
    }
  }
}

.polovica-prva {
  height: 20px;
  font-weight: normal;
  align-items: center;
}
.polovica-desna {
  height: 20px;
  font-weight: normal;

  float: right;
}

.order-photo {
  &-card {
    margin: 10px;
    text-align: center;
    width: 220px;
    height: fit-content;

    &-image {
      display: block;
      margin-left: 60px;
      margin-right: auto;
      width: 50%;
    }
  }
}
