.security-details {
  box-sizing: border-box;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 90px 20px 20px 320px;
  width: 100vw;

  &-head {
    display: flex;
    width: 100%;
    border-top: 1px solid rgba(151, 151, 151, 0.5);
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
    padding: 10px 0;
    margin: 20px 0 60px 0;

    img {
      width: 140px;
      height: 70px;
      padding-right: 15px;
    }

    &-title {
      padding: 0 15px;
      border-left: 1px solid rgba(151, 151, 151, 0.5);
      display: flex;
      align-items: center;
    }

    h1 {
      margin: 0;
    }
  }

  &-answer {
    font-weight: normal;
  }
  &-body {
    display: flex;
    width: 100%;
    font-size: small;
    font-weight: normal;

    &::-webkit-scrollbar {
      display: none;
    }

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 65%;

      &-image {
        padding: 50px;
        img {
          width: 350px;
          height: 350px;
        }
      }

      &-gift {
        font-weight: 300;
        font-size: 14px;
        width: 300px;
        button {
          font-size: 12px;
          display: block;
          font-weight: bold;
          outline: none;
          margin-bottom: 15px;
        }

        p {
          margin-top: 15px;
          font-weight: bold;
          font-size: 14px;
          color: rgb(234, 70, 143);
        }
      }

      &-description {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding: 0 30px;

        &-item {
          padding: 20px 0;
          border-top: 1px solid black;
          font-size: 14px;

          &-title {
            margin-bottom: 15px;
          }

          &-text {
            font-weight: 300;
          }
        }
      }
    }

    &-right {
      width: 35%;

      &-pink {
        color: #ea468f;
        border: 1px solid #ea468f;
        width: fit-content;
        padding: 5px 15px;
        font-size: 10px;
        margin: 15px 0;
      }

      &-availability {
        color: #ea468f;
        font-weight: normal;
        border-bottom: 1px solid rgba(151, 151, 151, 0.5);
        padding: 10px 0;
      }

      &-notes {
        font-weight: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;

        p {
          text-align: justify;
        }

        &-icon {
          margin: 10px 0;
          font-size: 45px;
        }
      }

      &-buy {
        margin: 15px 0;

        button {
          cursor: pointer;
          background-color: #ea468f;
          color: white;
          width: 100%;
          min-height: 50px;
          border: 0;
          outline: 0;
          transition: 0.2s;

          &:hover {
            background-color: #c31d67;
          }
        }
      }

      &-wishlist {
        display: flex;
        font-weight: 300;

        &-icon {
          margin-right: 10px;
        }
        a {
          color: black;

          &:hover {
            border-bottom: 1px solid black;
          }
        }
      }

      &-delivery {
        display: flex;
        align-items: center;
        font-weight: 200;
        margin: 15px 0;

        &-icon {
          margin-right: 10px;
        }
      }

      &-advantages {
        background-color: #e1f5f2;
        padding: 15px;

        &-title {
          padding: 10px;
          border-bottom: 1px solid rgba(151, 151, 151, 0.5);
        }

        &-items {
          display: flex;
          flex-direction: column;
        }

        &-item {
          display: flex;
          align-items: center;
          font-weight: 300;
          font-size: 14px;
          margin: 5px 0;

          &-icon {
            color: #19c32e;
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.product-variant {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 25px;
  border-left: 1px solid rgba(151, 151, 151, 0.5);
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);

  &:last-child {
    margin: 10px 0 0 0;
  }

  img {
    width: 50px;
    height: 50px;
  }

  &-name {
    color: cornflowerblue;
    cursor: pointer;
    margin: 0 25px;
    font-size: 24px;
    font-weight: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  &-price {
    color: black;
    font-weight: 500;
    font-size: 15px;
    font-size: 25px;
  }
}
