@import 'settings';

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font-family;
  font-weight: 600;
  font-size: $font-size--base;
  overflow-x: hidden;
  color: $very-dark-blue;
  background: $very-light-gray;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}
