.product {
  &-card {
    margin: 10px;
    position: static;
    width: 220px;

    .ant-card-cover {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }

    &-image {
      height: 150px;
      width: 150px;
    }

    &-brand-image {
      & > img {
        height: 32px;
        max-height: 32px;
        min-height: 32px;
        width: 32px;
        max-width: 32px;
        min-width: 32px;
        object-fit: fill;
      }
    }
  }
}
