.list-group-item {
  position: static;
}

.photo {
  &-card {
    margin: 10px;
    text-align: center;
    width: 220px;
    height: fit-content;

    &-image {
      height: 180px;
      width: 180px;
      border-radius: 50%;
      margin-right: 100px;
      margin-left: 300px;
      margin-bottom: 10px;
      margin-top: 0.1x;
    }

    &-photo-image {
      & > img {
        height: 32px;
        max-height: 32px;
        min-height: 32px;
        width: 32px;
        max-width: 32px;
        min-width: 32px;
        object-fit: fill;
      }
    }
  }
}
