@import './base/fonts';
@import './base/settings';
@import './base/base';

//components
@import './components/navigation';
@import './components/product-card';

//pages
@import './pages/auth';
@import './pages/home';
