@import './base/fonts';
@import './base/settings';
@import './base/base';

//components
@import './components/navigation';
@import './components/product-card';
@import './components/brand-card';

//pages
@import './pages/auth';
@import './pages/home';
@import './pages/product-details';
@import './pages/user-page';
