@import './base/fonts';
@import './base/settings';
@import './base/base';
@import '~bootstrap/scss/bootstrap';
//components
@import './components/navigation';
@import './components/product-card';
@import './components/brand-card';

//pages
@import './pages/auth';
@import './pages/home';
@import './pages/product-details';
@import './pages/user-page';
@import './pages/help';
@import './pages/securitypage';
@import './pages/admin-section.scss';
@import './pages/not-exist-page.scss';
